div.container {
    width: 85%;
    max-width: 65rem;
    display: inline-block;
    margin-bottom: 2rem;
}

.title {
    margin-bottom: 1rem;
    display: block;
    color: black;
}

.title h2 {
    display: inline;
}

div.poster > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    height: 445px;
}

div.info {
    float: left;
}

@media (min-width: 768px) {
    div.poster {
        float: left;
        max-width: 40%;
    }

    div.info {
        max-width: 60%;
        margin-left: 1.5rem;
    }
}
